Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a ="shouvik"
b = ["asd",1, 2, 5.26]
c = 5.36
d = (1,2,5,8)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [2]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i) / is used for division

In [3]:
2/1

2.0

(ii) % is modulas operator. it gives remainder as result

In [4]:
9%2

1

(iii)// is Floor operator

In [5]:
9//3

3

(iv)** is exponent opereator

In [6]:
2**5

32

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [44]:
list = [ 1, 2, 2.2, 'asdad', 1235,"sdsgfgs",8, 456, 1.10, 'a']
for i in list :
    print(i,"      ", type(i))

1        <class 'int'>
2        <class 'int'>
2.2        <class 'float'>
asdad        <class 'str'>
1235        <class 'int'>
sdsgfgs        <class 'str'>
8        <class 'int'>
456        <class 'int'>
1.1        <class 'float'>
a        <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [11]:
A = 120
B = 12
while A % B == 0 :
    print(A//B, "times divisible")
    break
else :
    print("Not Purely Divisible")

10 times divisible

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [32]:
list = [1,25,5,54,4,1,15,4,55,8,8,8,5,55,66,14,1,25,65,4,45,5,4,4,78]

In [41]:
j=1
for i in list :
    if i % 3 == 0 :
        print(i," element is divisible by 3")
    else :
        print(i, " not divisible by 3")

1  not divisible by 3
25  not divisible by 3
5  not divisible by 3
54  element is divisible by 3
4  not divisible by 3
1  not divisible by 3
15  element is divisible by 3
4  not divisible by 3
55  not divisible by 3
8  not divisible by 3
8  not divisible by 3
8  not divisible by 3
5  not divisible by 3
55  not divisible by 3
66  element is divisible by 3
14  not divisible by 3
1  not divisible by 3
25  not divisible by 3
65  not divisible by 3
4  not divisible by 3
45  element is divisible by 3
5  not divisible by 3
4  not divisible by 3
4  not divisible by 3
78  element is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

ANSWER:
MUTABLE OBJECT: An object whose internal state can be modified eg: LIST.
 IMUTABLE OBJECT: An object whose internal state cannot modified eg: string

In [49]:
s = [ 'x' , 'y' ,'z' ]
w = "xyz"

In [50]:
s[1] = 'a'

In [51]:
s

['x', 'a', 'z']

In [53]:
w[1] = 'a'

TypeError: 'str' object does not support item assignment